* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
canvas {
	width: 600px;
	height: 300px;
	border: 1px solid black;
	display: block;
	margin: 10px auto;
}

fieldset {
	width: 600px;
	margin: 20px auto;
	text-align: center;
}